@mixin dynamicAlign(
  $justify: flex-start,
  $align: flex-start,
  $gap: 1rem,
  $direction: row,
  $wrap: no-warp
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin dynamicPosition(
  $pos: absolute,
  $left: unset,
  $right: unset,
  $top: unset,
  $bottom: unset,
  $transform: unset
) {
  position: $pos;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
  transform: $transform;
}

@mixin AnchorElement {
  text-decoration: none;
  color: $color_gray_white;
  font-size: $font_size;
  transition: $transition;
  &.active {
    color: $color_pink;
  }
  &:hover {
    color: $color_pink;
  }
}

@mixin gridSys(
  $repeat: 4,
  $margin: $margin,
  $gap: $margin,
  $row_gap: $grid_row_gap
) {
  display: grid;
  grid-template-columns: repeat($repeat, 1fr);
  grid-gap: $gap;
  grid-row-gap: $row_gap;
  margin: $margin;
}

@mixin longText($line: 3) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}
