// =========================================================================
//   > Variable color
// =========================================================================

$color_black: #222;
$color_green: #2b8a5e;
$color_white: #fff;
$color_gray: #6f6f6f;
$color_blue_light: #e3f0e9;
$color_gray_light: #efefef;
$color_pink: #fe5065;
$color_gray_white: #b2b2b2;

// =========================================================================
//   > Variable spacing
// =========================================================================

$padding: 1rem;
$margin: 1rem;

// =========================================================================
//   > Variable font
// =========================================================================
$font_size: 1.6rem;

// =========================================================================
//   > Variable transitions
// =========================================================================

$transition: all 0.3s ease;
