.banner_follow {
  background: $color_blue_light;
  @include dynamicAlign(center, center, $direction: column);
  padding: $padding * 2;
  p {
    text-align: center;

    @include xl {
      width: 50%;
    }
  }
  div {
    @include dynamicAlign($align: center);
  }
  a {
    margin-top: $margin;
    display: inline-block;
    @include dynamicAlign($align: center);
    &::after {
      content: "|";
      display: inline-block;
      height: 100%;
      margin: 0 $margin;
    }
    &:last-child::after {
      display: none;
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
