.header {
  @include dynamicPosition($pos: fixed, $left: 0, $right: 0, $top: 0);
  background: transparent;
  padding: $margin;
  z-index: 9;
  width: 100%;
  transition: 0.6s linear;
  &.hidden {
    top: -17rem;
  }

  &_content {
    .left {
      @include dynamicAlign($justify: space-between, $align: center);
      .logo {
        img {
          width: 10rem;
          height: 10rem;
          object-fit: contain;
        }
      }

      .button_nav {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        img {
          width: 3rem;
          object-fit: contain;
        }
      }

      .nav {
        @include dynamicAlign($direction: column);
        @include dynamicPosition(
          $pos: fixed,
          $right: -25rem,
          $top: 0,
          $bottom: 0
        );
        width: 0;
        height: 100%;
        background: $color_white;
        padding: $padding * 2;
        box-shadow: 0rem 0rem 2rem 1rem rgba($color_pink, 0.25);
        border-radius: 2rem 0 0 2rem;
        transition: 0.3s ease;

        &.active {
          right: 0;
          width: 80dvw;
        }
        .button_nav {
          position: relative;
          right: -90%;
        }
      }
    }

    .right {
      display: none;
    }

    // mobile

    &_mobile {
      @include dynamicPosition(
        $pos: fixed,
        $left: 0,
        $right: 0,
        $bottom: 0,
        $top: 0
      );
      display: none;
      animation: headerAnimateEnd 0.5s ease;
      background: url("/summer_nav.png"), $color_white;
      background-size: cover;
      background-position: top right;
      background-repeat: no-repeat;

      z-index: 1;

      &.active {
        @include dynamicAlign($direction: column, $align: center);
        animation: headerAnimate 0.5s ease;
      }

      @keyframes headerAnimate {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes headerAnimateEnd {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      z-index: 3;
      // background: $color_white;
      padding: $padding * 2;
      .button_nav {
        @include dynamicPosition($pos: absolute, $right: 2rem);
      }

      .mobile_bg {
        width: 35rem;
        margin-top: 3rem;
      }

      h1 {
        font-size: 2rem;
        margin-block: 2rem;
        color: $color_pink;
      }

      .mobile_nav {
        @include dynamicAlign($direction: column, $gap: 2rem, $align: center);
      }

      .mobile_language {
        margin: 1rem 0;
        @include dynamicAlign($direction: column, $align: center);
        h3 {
          font-size: 1.6rem;
          color: $color_gray;
          margin-bottom: 1rem;
        }
        .language {
          @include dynamicAlign($align: center);
          span {
            display: block !important;
          }
        }
      }

      .mobile_social {
        @include dynamicAlign($direction: column, $align: center);

        h3 {
          font-size: 1.6rem;
          color: $color_gray;
          margin-bottom: 1rem;
        }

        .list {
          @include dynamicAlign();
        }
      }
    }
  }

  // destop
  @include xl {
    padding: $margin $margin * 5;
    &_content {
      @include dynamicAlign($justify: space-between, $align: center);
      .left {
        @include dynamicAlign($gap: 5rem, $align: center);
        .button_nav {
          display: none;
        }
        .nav {
          @include dynamicAlign($gap: 2rem);
          position: unset;
          width: max-content;
          background: transparent;
          padding: unset;
          box-shadow: none;
        }
      }

      .right {
        @include dynamicAlign($gap: 2rem, $align: center);
        position: unset;
        .language {
          @include dynamicAlign($align: center);
          span {
            display: block !important;
          }
        }
      }

      &_mobile {
        display: none;
      }
    }
  }
}
