.home {
  &_hero {
    @include xl {
      @include dynamicAlign($gap: 20rem);
      height: 90dvh;
    }
    .left {
      @include dynamicAlign($direction: column);
      flex: 1;
      .top {
        @include dynamicAlign($align: center);
        p {
          &:first-child {
            &::after {
              content: "";
              display: inline-block;
              width: 1rem;
              height: 1rem;
              background: $color_gray;
              border-radius: 2rem;
              margin-left: 0.6rem;
            }
          }
          &:nth-child(2) {
            position: relative;
            span {
              @include dynamicPosition($pos: absolute);
              font-size: 1.2rem;
            }
          }
        }
        .line {
          width: 10rem;
          height: 0.1rem;
          background: $color_gray;
          margin-left: 2rem;
          border-radius: 2rem;
          @include xl {
            width: 20rem;
          }
        }
      }

      .title_logo {
        @include dynamicPosition(
          $pos: relative,
          $left: 50%,
          $transform: translateX(-50%)
        );
        @include xl {
          position: unset;
          transform: unset;
        }
        h1 {
          font-size: 4rem;
          text-transform: uppercase;
          font-weight: 900;
          @include xl {
            font-size: 9rem;
          }

          &:first-child {
            color: $color_pink;
            text-shadow: 1rem 1rem 2rem rgba($color_pink, 0.25);
          }

          &:last-child {
            color: $color_gray;
            margin-top: -1rem;
            margin-left: 10rem;
            text-shadow: 1rem 1rem 2rem rgba($color_gray, 0.25);
          }
        }
      }

      .info {
        @include dynamicAlign($direction: column, $gap: 2rem);
        div {
          position: relative;
          //   padding: 3rem 0;

          .info_welcome {
            color: $color_pink;
          }

          @include xl {
            &:first-child {
              p {
                color: $color_pink;
                font-weight: 600;
                &::after {
                  content: "";
                  display: block;
                  @include dynamicPosition(
                    $pos: absolute,
                    $left: 0.5rem,
                    $top: 2rem
                  );
                  width: 0.2rem;
                  height: 80%;
                  background-color: $color_gray;
                }
              }
            }

            &:nth-child(2) {
              p {
                &::after {
                  content: "";
                  display: block;
                  @include dynamicPosition(
                    $pos: absolute,
                    $left: 0.5rem,
                    $top: 2.5rem
                  );
                  width: 0.2rem;
                  height: 80%;
                  background-color: $color_gray;
                }
              }
            }

            &:nth-child(3) {
              p {
                &::after {
                  content: "";
                  display: block;
                  @include dynamicPosition(
                    $pos: absolute,
                    $left: 0.5rem,
                    $top: 2.5rem
                  );
                  width: 0.2rem;
                  height: 80%;
                  background-color: $color_gray;
                }
              }
            }

            &:last-child {
              &::after {
                display: none;
              }
              p {
                strong {
                  display: block;
                }
              }
            }
          }

          p {
            color: $color_gray;
            margin: unset;
            line-height: 2.5rem;
            strong {
              display: block;
            }
            @include xl {
              margin-left: 3rem;
            }
          }
          span {
            display: none;
            @include xl {
              @include dynamicPosition(
                $pos: absolute,
                $left: 0,
                $top: 15%,
                $transform: translateY(-50%)
              );
              width: 1rem;
              height: 1rem;
              background: $color_pink;
              display: block;
              border-radius: 2rem;
            }
          }
        }
      }
    }

    .right {
      flex: 1;
      .title {
        margin-top: 4rem;
        font-size: 2.5rem;
        color: $color_gray;
        span {
          color: $color_pink;
          text-decoration: underline;
        }
      }

      .description {
        margin-top: 1rem;
        color: $color_gray;
        line-height: 3rem;
        text-align: center;
      }

      .list_product {
        // margin-top: 3rem;
        display: unset;
        .product {
          box-shadow: unset;
        }
      }

      @include xl {
        width: 50%;

        .title {
          font-size: 5rem;
          width: 45rem;
        }
        p {
          text-align: unset;
        }
      }
    }
  }

  // working

  &_working {
    @include dynamicAlign($direction: column, $align: center, $gap: 2rem);
    margin: 3rem 0;

    .description {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 3.5rem;
    }
    .thank {
      color: $color_pink;
    }
    .process_mobile {
      width: 100%;
      height: 40rem;
      .item {
        @include dynamicAlign($direction: column, $gap: 1rem, $align: center);
        position: relative;
        flex: 1;
        .step {
          width: 2.5rem;
          height: 2.5rem;
          background: $color_pink;
          border-radius: 3rem;
          color: $color_white;
          text-align: center;
        }
        .title {
          color: $color_pink;
        }
        p {
          color: $color_gray;
        }
      }
    }
    .process {
      @include dynamicAlign($gap: 2rem, $justify: space-between, $wrap: wrap);
      display: none;
      width: 100%;
      .item {
        @include dynamicAlign($direction: column, $gap: 2rem, $align: center);
        position: relative;
        flex: 1;
        .title {
          color: $color_pink;
        }
        p {
          color: $color_gray;
        }
      }
    }

    @include xl {
      height: 100dvh;
      @include dynamicAlign($direction: column, $align: center, $gap: 4rem);
      margin-top: unset;
      .description {
        width: 70%;
        font-size: 2rem;
      }
      .process_mobile {
        display: none;
      }
      .process {
        margin-top: 8rem;
        @include dynamicAlign($gap: 2rem, $justify: space-between, $wrap: wrap);

        .item {
          .dot {
            width: 1rem;
            height: 1rem;
            background: $color_pink;
            border-radius: 2rem;
            display: block;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
          &::after {
            content: "";
            @include dynamicPosition($pos: absolute, $top: 0.5rem, $left: 60%);
            width: 80%;
            height: 0.1rem;
            background: $color_pink;
          }
        }
      }
    }
  }

  // season

  &_season {
    .season_title {
      margin-bottom: 2rem;
      display: block;
    }

    .season_content {
      @include dynamicAlign($gap: 5rem, $direction: column);
      .left {
        @include dynamicAlign($direction: column, $gap: 2rem);
        flex: 1;
        p {
          color: $color_gray;
          line-height: 3.5rem;
          text-align: center;
        }
      }
      .right {
        flex: 1;
        width: 100%;
        .season_tap {
          @include dynamicAlign(
            $justify: space-between,
            $align: center,
            $wrap: wrap
          );
          li {
            font-size: 1.6rem;
            color: $color_gray;
            padding: 0.5rem 1rem;
            border-radius: 3rem;
            text-align: center;
            cursor: pointer;
            transition: 0.3s ease;
            &.active,
            &:hover {
              background: $color_pink;
              color: $color_white;
            }
          }
        }
        &_season_content {
          margin-top: 2rem;

          .tabcontent {
            @include dynamicAlign($direction: column, $gap: 2rem);
            animation: fadeEffect 1s;
            @keyframes fadeEffect {
              from {
                opacity: 0;
              }
              to {
                opacity: 1;
              }
            }
            .time {
              @include dynamicAlign($gap: 3rem);
              border: 0.1rem solid $color_pink;
              color: $color_gray;
              border-radius: 3rem;
              padding: 0.5rem 2rem;
              width: max-content;
              margin: 0;
            }
            .description {
              line-height: 3.5rem;
              color: $color_gray;
            }

            .title_list {
              font-size: $font_size;
              color: $color_pink;
              font-weight: 300;
            }

            .list_product {
              display: unset;
              width: 100%;
              .product {
                box-shadow: unset;
              }
            }
          }
        }
      }
    }

    @include xl {
      height: 100dvh;
      .season_title {
        margin-bottom: 2rem;
        display: flex;
      }
      .season_content {
        @include dynamicAlign($gap: 20rem, $direction: row);
        .left {
          p {
            text-align: unset;
          }
        }
        .right {
          width: 50%;
          .season_tap {
            li {
              padding: 0.5rem 2rem;
            }
          }
          &_season_content {
            margin-top: 2rem;

            .tabcontent {
              @include dynamicAlign($direction: column, $gap: 2rem);
              animation: fadeEffect 1s;
              @keyframes fadeEffect {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              .time {
                @include dynamicAlign($gap: 3rem);
              }

              .title_list {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }

  // partner

  &_partner {
    position: relative;
    margin: 3rem 0;
    padding: 2rem 0;
    .cover {
      @include dynamicPosition(
        $pos: absolute,
        $left: -1rem,
        $right: -1rem,
        $top: 0,
        $bottom: 0
      );
      background: #fffafa;
      z-index: -1;
    }
    @include dynamicAlign($align: center, $direction: column, $gap: 2rem);

    .partner_content {
      @include dynamicAlign($align: center, $direction: column, $gap: 2rem);
      p {
        font-size: 1.6rem;
        color: $color_gray;
        line-height: 3.5rem;

        text-align: center;
      }
    }
    .partner_image {
      @include dynamicAlign(
        $justify: center,
        $align: center,
        $gap: 3rem,
        $wrap: wrap
      );
      img {
        width: 15rem;
        object-fit: contain;
        &:first-child {
          width: 8rem;
        }
      }
    }

    @include xl {
      height: 100dvh;
      position: relative;
      padding-top: 5rem;
      @include dynamicAlign($align: center, $direction: column, $gap: 5rem);
      .cover {
        @include dynamicPosition(
          $pos: absolute,
          $left: -5rem,
          $right: -5rem,
          $top: 0,
          $bottom: 0
        );
      }
      .partner_content {
        @include dynamicAlign($align: center, $direction: column, $gap: 5rem);
        p {
          font-size: 2rem;
          width: 120rem;
        }
      }
      .partner_image {
        @include dynamicAlign(
          $justify: center,
          $align: center,
          $gap: 5rem,
          $wrap: wrap
        );

        img {
          width: 25rem;
          &:first-child {
            width: 20rem;
          }
        }
      }
    }
  }

  // blog

  &_blog {
    margin: 3rem 0;

    .content {
      @include dynamicAlign($gap: 3rem, $direction: column);
      margin-top: 3rem;
      .left {
        flex: 1;
        @include dynamicAlign($direction: column, $gap: 2rem);
        p {
          line-height: 3.5rem;
          color: $color_gray;
          font-weight: 400;
          text-align: center;
        }
      }
      .right {
        flex: 1;
        h3 {
          font-weight: 300;
          color: $color_pink;
        }

        .list_blog {
          width: 100%;
          @include gridSys($repeat: 1, $margin: 2rem 0);

          @include lg {
            @include gridSys($repeat: 2);
          }
          @include xl {
            @include gridSys($repeat: 3);
          }
        }
      }
    }

    @include xl {
      margin-top: 5rem;
      height: 100dvh;
      .title_blog {
        @include dynamicAlign();
      }
      .content {
        @include dynamicAlign($gap: 20rem);
        margin-top: 5rem;
        .left {
          flex: 1;
          @include dynamicAlign($direction: column, $gap: 2rem);
          p {
            line-height: 3.5rem;
            color: $color_gray;
            font-weight: 500;
            text-align: unset;
          }
        }
        .right {
          flex: 1;
        }
      }
    }
  }

  // support

  &_support {
    padding: 5rem 0;
    @include dynamicAlign($direction: column, $align: center, $gap: 2rem);
    .description {
      line-height: 3.5rem;
      color: $color_gray;
      font-weight: 300;
      font-size: $font_size;
      text-align: center;
    }

    .support_form {
      @include dynamicAlign($direction: column, $align: center, $gap: 2rem);
      width: 100%;
      input {
        width: 100%;
        padding: 1rem 0.5rem;
        border-radius: 1rem;
        outline: none;
        border: 0.1rem solid $color_gray;
        font-size: $font_size;
        transition: 0.3s ease;
        &:focus {
          border: 0.1rem solid $color_pink;
          color: $color_pink;
        }
      }
      textarea {
        width: 100%;
        padding: 1rem 0.5rem;
        border-radius: 1rem;
        outline: none;
        border: 0.1rem solid $color_gray;
        height: 20rem;
        resize: none;
        font-size: $font_size;
        transition: 0.3s ease;
        &:focus {
          border: 0.1rem solid $color_pink;
          color: $color_pink;
        }
      }
      button {
        padding: 1rem 3rem;
        color: $color_pink;
        border-radius: 1rem;
        border: 0.1rem solid $color_pink;
        font-size: $font_size;
        background: transparent;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          background: $color_pink;
          color: $color_white;
        }
      }
    }
    @include xl {
      height: 100dvh;
      padding: 5rem;
      @include dynamicAlign($direction: column, $align: center, $gap: 5rem);
      .description {
        width: 150rem;
        font-size: 2rem;
      }

      .support_form {
        width: 90rem;
        input {
          padding: 2rem 1rem;
        }
        textarea {
          padding: 2rem 1rem;
        }
        button {
          padding: 1rem 3rem;
        }
      }
    }
  }
}
