.list_product {
  @include gridSys($repeat: 2, $gap: $margin, $margin: unset);
  @include xl {
    @include gridSys($repeat: 5, $gap: $margin);
  }
}

.list_product_shop {
  @include gridSys($repeat: 2, $gap: $margin);
  width: 100%;
  @include md {
    @include gridSys($repeat: 2, $gap: $margin);
  }
  @include lg {
    @include gridSys($repeat: 3, $gap: $margin);
  }
  @include xl {
    @include gridSys($repeat: 5, $gap: $margin);
  }
}
.product {
  box-shadow: -0.2rem 0.4rem 1rem rgba($color_pink, 0.2);
  border-radius: 1rem;
  transition: 0.3s ease;
  background: $color_white;
  border: 0.5rem solid transparent;
  &.hide {
    .decoration {
      display: none;
    }

    &:hover {
      transform: scale(1);
      border: 0.5rem solid transparent;
    }
  }
  .decoration {
    position: relative;

    img {
      opacity: 0;
      transition: all 0.3s ease;
    }

    .lemon {
      @include dynamicPosition($pos: absolute, $left: -2rem, $top: 3rem);
      z-index: 3;
      width: 4rem;
    }

    .ball {
      @include dynamicPosition($pos: absolute, $right: -1rem, $bottom: -27rem);
      z-index: 3;
      width: 5rem;
    }

    .glass {
      @include dynamicPosition(
        $pos: absolute,
        $top: -1rem,
        $left: 55%,
        $transform: rotate(-5deg)
      );
      z-index: 3;
      width: 6rem;
    }

    .melon_big {
      @include dynamicPosition($pos: absolute, $bottom: -27rem, $left: -2rem);
      z-index: 3;
      width: 7rem;
    }

    .melon_small {
      @include dynamicPosition($pos: absolute, $top: -2rem, $right: -1rem);
      z-index: 3;
      width: 5rem;
    }

    .tree_big {
      @include dynamicPosition($pos: absolute, $top: -5rem, $left: -2rem);
      z-index: -1;
      width: 5rem;
    }

    .tree_small {
      @include dynamicPosition($pos: absolute, $top: -5rem, $left: 1rem);
      z-index: -1;
      width: 5rem;
    }

    .tree_big_2 {
      @include dynamicPosition(
        $pos: absolute,
        $bottom: -26rem,
        $left: -2rem,
        $transform: rotate(-20deg)
      );
      z-index: 2;
      width: 5rem;
    }

    .tree_big_3 {
      @include dynamicPosition($pos: absolute, $bottom: -25rem, $right: -1rem);
      z-index: 2;
      width: 4rem;
    }

    @include xl {
      .lemon {
        @include dynamicPosition($pos: absolute, $left: -3rem, $top: 3rem);
        z-index: 3;
        width: 5rem;
      }

      .ball {
        @include dynamicPosition(
          $pos: absolute,
          $right: -3rem,
          $bottom: -43rem
        );
        z-index: 3;
        width: 8rem;
      }

      .glass {
        @include dynamicPosition(
          $pos: absolute,
          $top: -1rem,
          $left: 53%,
          $transform: rotate(-5deg)
        );
        z-index: 3;
        width: 7rem;
      }

      .melon_big {
        @include dynamicPosition($pos: absolute, $bottom: -41rem, $left: -2rem);
        z-index: 3;
        width: 7rem;
      }

      .melon_small {
        @include dynamicPosition($pos: absolute, $top: -3rem, $right: -3rem);
        z-index: 3;
        width: 6rem;
      }

      .tree_big {
        @include dynamicPosition($pos: absolute, $top: -7rem, $left: -4rem);
        z-index: -1;
        width: 7rem;
      }

      .tree_small {
        @include dynamicPosition($pos: absolute, $top: -5rem, $left: 1rem);
        z-index: -1;
        width: 7rem;
      }

      .tree_big_2 {
        @include dynamicPosition(
          $pos: absolute,
          $bottom: -42rem,
          $left: -4rem,
          $transform: rotate(-30deg)
        );
        z-index: -1;
        width: 6rem;
      }

      .tree_big_3 {
        @include dynamicPosition(
          $pos: absolute,
          $bottom: -42rem,
          $right: -1rem
        );
        z-index: 2;
        width: 7rem;
      }

      .tree_small_3 {
        @include dynamicPosition($pos: absolute, $top: -5rem, $left: 1rem);
        z-index: -1;
        width: 7rem;
      }
    }
  }
  &:hover {
    transform: scale(1.02);
    z-index: 5;
    border: 0.5rem dashed $color_pink;
    img {
      opacity: 1;
    }
    .tree_big,
    .tree_small,
    .tree_big_2 {
      z-index: -1;
    }
  }
  &_img {
    width: 100%;
    // background-color: $color_gray_light;
    position: relative;
    animation: beggining 1.5s linear;
    @keyframes beggining {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .partner {
      position: absolute;
      top: 0;
      left: 1rem;
      background: $color_green;
      color: $color_white;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem !important;
      font-size: $font_size - 0.4rem;
      font-weight: 300;
      &.Shopee {
        background-color: #f2572c;
        color: $color_white;
        box-shadow: 0 0 1rem rgba(#f2572c, 0.5);
      }
      &.Amazon {
        background-color: $color_black;
        color: $color_white;
        box-shadow: 0 0 1rem rgba($color_black, 0.5);
      }
      &.Redbubble {
        background-color: #e31422;
        color: $color_white;
        box-shadow: 0 0 1rem rgba(#e31422, 0.5);
      }
      &.Printify {
        background-color: $color_green;
        color: $color_white;
        box-shadow: 0 0 1rem rgba($color_green, 0.5);
      }
      &.Tiktok {
        background-color: $color_black;
        color: $color_white;
        box-shadow: 0 0 1rem rgba($color_black, 0.5);
      }
      &.Printub {
        background-color: #1975d1;
        color: $color_white;
        box-shadow: 0 0 1rem rgba(#1975d1, 0.5);
      }
    }
    .hot {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: $color_pink;
      color: $color_white;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: $font_size - 0.4rem;
      @include xl {
        font-size: $font_size - 0.2rem;
      }
    }
    img {
      width: 100%;
      height: 15rem;
      object-fit: contain;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
    }
    @include xl {
      img {
        width: 100%;
        height: 30rem;
      }
    }
  }
  &_info {
    text-align: center;
    font-size: $font_size;
    padding: 1rem;
    h3 {
      font-weight: 300;
      font-size: $font_size;
      @include longText(2);
      color: $color_gray;
      &:hover {
        color: $color_pink;
      }
    }
    span {
      font-size: $font_size - 0.2rem;
      color: $color_pink;
    }
    @include xl {
      h3 {
        font-weight: 300;
      }
      span {
        font-size: 1.6rem;
      }
    }
  }
}
