.list_product {
  @include gridSys($repeat: 2, $gap: $margin, $margin: unset);
  @include xl {
    @include gridSys($repeat: 5, $gap: $margin);
  }
}

.list_product_shop {
  @include gridSys($repeat: 2, $gap: $margin);
  width: 100%;
  @include md {
    @include gridSys($repeat: 2, $gap: $margin);
  }
  @include lg {
    @include gridSys($repeat: 3, $gap: $margin);
  }
  @include xl {
    @include gridSys($repeat: 5, $gap: $margin);
  }
}
.product {
  box-shadow: -0.2rem 0.4rem 1rem rgba($color_pink, 0.2);
  border-radius: 1rem;
  &_img {
    width: 100%;
    // background-color: $color_gray_light;
    position: relative;
    animation: beggining 1.5s linear;
    @keyframes beggining {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .partner {
      position: absolute;
      top: 0;
      left: 1rem;
      background: $color_green;
      color: $color_white !important;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem !important;
      font-size: $font_size - 0.4rem;
      font-weight: 300;
    }
    .hot {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: $color_pink;
      color: $color_white;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: $font_size - 0.4rem;
      @include xl {
        font-size: $font_size - 0.2rem;
      }
    }
    img {
      width: 100%;
      height: 15rem;
      object-fit: contain;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
    }
    @include xl {
      img {
        width: 100%;
        height: 30rem;
      }
    }
  }
  &_info {
    text-align: center;
    font-size: $font_size;
    padding: 1rem;
    h3 {
      font-weight: 300;
      font-size: $font_size;
      @include longText(2);
      color: $color_gray;
    }
    span {
      font-size: $font_size - 0.2rem;
      color: $color_pink;
    }
    @include xl {
      h3 {
        font-weight: 300;
      }
      span {
        font-size: 1.6rem;
      }
    }
  }
}
