.support {
  margin-top: $margin * 10;
  animation: begin 2s linear;
  @keyframes begin {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .content {
    @include dynamicAlign($direction: column-reverse);
    @include xl {
      @include dynamicAlign();
    }
    .left {
      width: 100%;
      @include xl {
        flex: 1;
      }
      @include dynamicAlign($direction: column);
      border: 0.1rem solid $color_gray_light;
      padding: $padding * 2;
      border-radius: 2rem;

      h3 {
        color: $color_pink;
      }
      p {
        color: $color_gray;
      }
      .support_form {
        @include dynamicAlign($direction: column, $align: center, $gap: 2rem);
        width: 100%;
        input {
          width: 100%;
          padding: 1rem 0.5rem;
          border-radius: 1rem;
          outline: none;
          border: 0.1rem solid $color_gray;
          font-size: $font_size;
          transition: 0.3s ease;
          &:focus {
            border: 0.1rem solid $color_pink;
            color: $color_pink;
          }
        }
        textarea {
          width: 100%;
          padding: 1rem 0.5rem;
          border-radius: 1rem;
          outline: none;
          border: 0.1rem solid $color_gray;
          height: 20rem;
          resize: none;
          font-size: $font_size;
          transition: 0.3s ease;
          &:focus {
            border: 0.1rem solid $color_pink;
            color: $color_pink;
          }
        }
        .message {
          &.error {
            color: $color_pink;
          }
          &.success {
            color: #16aa47;
          }
        }
        button {
          padding: 1rem 3rem;
          color: $color_pink;
          border-radius: 1rem;
          border: 0.1rem solid $color_pink;
          font-size: $font_size;
          background: transparent;
          cursor: pointer;
          transition: 0.3s ease;
          &:hover {
            background: $color_pink;
            color: $color_white;
          }
        }
      }
    }
    .image {
      flex: 1;
      height: 100%;
      border-radius: 2rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
