.swiper_container {
  margin-top: $margin * 5;
  .swiper-slide {
    .swiper_item {
      width: 100%;
      height: 60dvh;
      background: $color_blue_light;
      @include dynamicAlign($align: center, $direction: column);
      padding: $padding * 4;
      .image {
        width: 25rem;
        height: 25rem;
        border-radius: 50rem;
        overflow: hidden;
        background: $color_gray_light;
        opacity: 0;
        transition: 2.5s ease;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .content {
        flex: 1;
        .partner {
          position: relative;
          padding-left: $padding;
          top: -5rem;
          opacity: 0;
          transition: 1.5s ease;
          p:first-child {
            font-size: $font_size - 0.2rem;
          }
          p:nth-child(2) {
            font-size: $font_size;
            font-weight: 600;
            color: $color_green;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0.2rem;
            height: 100%;
            background: $color_black;
            border-radius: 2rem;
          }
        }

        .title {
          font-size: $font_size + 0.4rem;
          margin: $margin * 1 0;
          position: relative;
          left: -30rem;
          opacity: 0;
          transition: all 1s ease;
        }

        .prices {
          position: relative;
          bottom: -10rem;
          opacity: 0;
          transition: 1.5s ease;
          p {
            text-decoration: underline;
          }
          h3 {
            font-size: $font_size + 0.5rem;
          }
        }

        button {
          margin-top: $margin * 2;
          padding: $padding * 1 $padding * 2;
          background: $color_green;
          color: $color_white;
          border: 0.1rem solid $color_green;
          font-size: $font_size;
          opacity: 0;
          transition: 3s ease;
        }
      }
    }

    @include xl {
      .swiper_item {
        width: 100%;
        height: 75dvh;
        background: $color_blue_light;
        @include dynamicAlign($align: center);
        padding: $padding * 2;
        .image {
          width: 60rem;
          height: 60rem;
          border-radius: 80rem;
          overflow: hidden;
          background: $color_gray_light;
          opacity: 0;
          transition: 2.5s ease;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .content {
          order: -1;
          flex: 0.7;
          margin-left: $margin * 5;
          .partner {
            position: relative;
            padding-left: $padding;
            top: -5rem;
            opacity: 0;
            transition: 1.5s ease;
            p:nth-child(2) {
              font-size: $font_size + 0.4rem;
              font-weight: 600;
              color: $color_green;
            }
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 0.2rem;
              height: 100%;
              background: $color_black;
              border-radius: 2rem;
            }
          }

          .title {
            font-size: $font_size + 2rem;
            margin: $margin * 2 0;
            position: relative;
            left: -30rem;
            opacity: 0;
            transition: all 1s ease;
          }

          .prices {
            position: relative;
            bottom: -10rem;
            opacity: 0;
            transition: 1.5s ease;
            p {
              text-decoration: underline;
            }
            h3 {
              font-size: $font_size + 0.5rem;
            }
          }

          button {
            margin-top: $margin * 2;
            padding: $padding * 1 $padding * 2;
            background: $color_green;
            color: $color_white;
            border: 0.1rem solid $color_green;
            font-size: $font_size;
            opacity: 0;
            transition: 3s ease;
          }
        }
      }
    }

    &-active {
      .swiper_item {
        .image {
          opacity: 1;
        }
        .content {
          .partner {
            top: 0;
            opacity: 1;
          }
          .title {
            left: 0;
            opacity: 1;
          }
          .prices {
            bottom: 0;
            opacity: 1;
          }
          button {
            opacity: 1;
          }
        }
      }
    }
  }

  .swiper_item_product {
    width: 100%;
    height: 100%;
    background: $color_white;
    .image {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 30rem;
      height: 40rem;
      @include md {
        width: 40rem;
        height: 50rem;
      }
      @include xl {
        width: 50rem;
        height: 60rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
